.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-item {
  margin-left: 15px;
}

.nav-link {
  font-size: 1.1rem;
  color: #fff !important;
}

.nav-link:hover {
  color: #ffcc00 !important;
}
