.container {
  margin-top: 30px;
}

.card {
  margin-top: 20px;
}

button {
  margin-right: 10px;
}

table th, table td {
  text-align: center;
}

form .form-group {
  margin-bottom: 1rem;
}

input, select {
  width: 100%;
}
